/*******************************SIZING************************/
$size1: .512rem;
$size2: .8rem;
$size3: 1rem;
$size4: 1.563rem;
$size5: 1.953rem;
$size6: 2.441rem;
$size7: 2.441rem;

/*******************************FLUID TYPOGRAPHY************************/

$text-base-min: 16px;
$text-base-max: 22px;

$text-min-width: 320px;
$text-max-width: 1000px;


html{
  font-size: $text-base-min;
}

@media screen and (min-width: $text-min-width) {
  .example{
    font-size: calc($text-base-min + ($text-base-max - $text-base-min) * (100vw - $text-min-width) / ($text-max-width - $text-min-width));
  }
  
}

@media (min-width: $text-max-width) {
  html{
    font-size: $text-base-max
  }
}

/*******************************COLORS************************/
$color-primary: #EA1B64;
$color-secondary: #333;

/*******************************GRID************************/
$grid-gutter: $size1; 