/*******************************SIZING************************/
$size1: .512rem;
$size2: .8rem;
$size3: 1rem;
$size4: 1.563rem;
$size5: 1.953rem;
$size6: 2.441rem;

/*******************************FLUID TYPOGRAPHY************************/

$text-base-min: 16px;
$text-base-max: 22px;

$text-min-width: 320px;
$text-max-width: 1000px;

/*******************************COLORS************************/
$color-primary: #EA1B64;
$color-secondary: #333;

/*******************************GRID************************/
$grid-gutter: $size1; 